<!DOCTYPE html>
<html>

    
    <head>
      <title>Brain Tumor Detection</title>

      <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        body {
          background-image: url('static/images/wall11.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
          image-rendering: pixelated;
          height: 100%;
        }
        
        </style>  
      
    </head>

    <header>
      <nav>
        <div class="nav-bg"></div>
        <ul>
          <li>
            <a href="/">
              <img src="{{ url_for('static', filename='images/brain_logo.png') }}" height=40px width=40px alt="Brain Tumor Detection"/>
              <p> Brain Tumor Detection</p>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    


    <!-- <p style="color:black;padding-top: 5%;font-size:30px;"><b>You are a patient or user ?</b><br></p> -->
    <!-- <p style="color:black;padding-top: 5%;font-size:30px;margin-left: 5%;"><b>You are a patient or user ? <span style="margin-left: 15%;"></span>You are a doctor ? <span style="margin-left: 15%;"></span>You are a datascientist ?</b></p> -->

    <body> 
      <p style="color:black;padding-top: 5%;font-size:30px;"><b>You are a patient or user ? </b></p>
      <!-- <div class="card" style="height: 10%;"> -->
        <div class="container" style="height: 10%;width: 20%;" >
          <div class="upload-btn-wrapper" style="height: 10%"  >
              <form name='bt_classifier' action='/' method='POST' enctype="multipart/form-data">
                <!-- <center><button class="btn">Upload an Image</button></center> -->
                <button class="btn"  style='width: 80%;'>Upload an Image</button>
                <input type="file" name="bt_image" id="bt_image"/>
                <button type='submit' name='submit' id='sub' style= 'margin: 5px 6.5px;width: 80%;' >Classify </button>
              </form>
          <!-- </div> -->
        </div>
      </div >
      
      <p  style="color:black;font-size:30px;"><b>You are a doctor ?</b></p>
      <button type="button" style='width: 20%;background-color:rgba(255, 255, 255, .4) ;' ><a href="/login" style="text-decoration: None; color: black;font-size: 18px; "><strong>Click here</strong> </button>
      <p  style="color:black;font-size:30px; "><b>You are a datascientist ?</b></p>
      <button type="button" style='width: 20%;background-color:rgba(255, 255, 255, .4) ;' ><a href="/login_DS" style="text-decoration: None; color: black;font-size: 18px; "><strong>Click here</strong> </button>
    </body>
    
    <!-- <p  style="color:black;padding-top: 8%;font-size:30px; margin-left: 40%;margin-bottom: 40%;"><br><br><b>You are a doctor ?</b></p> -->

    <!-- <button type="button" style='width: 20%;margin-left: 40%;margin-bottom: 40%;background-color:rgba(255, 255, 255, .4);border:rgba(255, 255, 255, .4);box-shadow:4px 4px 4px 4px rgba(0,0,0,0.2) ; '><a href="/login" style="text-decoration: None; color: black;font-size: 18px; "><strong>Click here</strong> </button> -->
    
    <footer>
      <p style="left: 45%;">Made with <img src="{{ url_for('static', filename='images/love.png') }}" height=3% width=3% alt="love"/> by  MARSIT Ibrahim </p><p style="color: white;"></p>
    </footer>

</html>