<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <style>
        body {
          background-image: url('static/images/wall11.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
          image-rendering: pixelated;
          height: 100%;
        }
        </style>

</head>
<body > 
<p>  hi make a space &nbsp; &nbsp; ddddddddd</p>
<p>Some Text <span class="tab"></span></p>

<p>  hi make a space <span style="margin-left: 40%;"></span> ddddddddd</p>

 
</body >
<!-- <body>
    bien testé ibrahim
</body>

<body>
    <h1>Test Page  <img src="{{ url_for('static', filename='images/1.jpg') }}" height=3% width=3% />  </h1>
    <p>
        Return <a href="index">link</a>
    </p>
  </body>
  <p style="margin-top: 8%;color:red;" >This is a red paragraph.</p>
  <h2 title="I'm a header" >The title Attribute</h2> 
  <h3 title="I'm a header" >The title Attribute</h3>
  <div >
  <p><a href="test_link"><img src="static/images/brain_logo.png" height=40px width=40px alt="Upload an Image" style="width:42px;height:42px;"> upload image  </p></a> 
  </div>
  <body>

  <p style="color:red;">This is a red paragraph.</p>

<div class="upload-btn-wrapper">
  <button class="btn">Upload a file<i style="font-size:18px" class="fa">&#xf093;</i></button>
  <input type="file" name="myfile" />
</div>
<button type="button" style='width: 20%;;background-color:darksalmon;border:rgba(255, 255, 255, .4);box-shadow:4px 4px 4px 4px rgba(0,0,0,0.2) ; '><a href="/empty_page" style="text-decoration: None; color: black;font-size: 18px; "><strong> Go home</strong> </button> -->
